@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
:root{
    --boroder-check: 1px #000 solid;

    --c000: #000;
    --cfff: #fff;
}
*{
    font-family: 'Pretendard-Regular', Helvetica,sans-serif ,serif;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    width: 100vw;
    height: 100vh;
    &::-webkit-scrollbar{
        display: none;
      }
}
body{
    width: 100%;
    height: 100%;
}
/* ------------------- */
header{
    border-bottom: var(--boroder-check);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    overflow-x: hidden;
}
.homelogo{ 
    /* border: var(--boroder-check); */
    text-transform: uppercase;
    font-size: 8em;
    cursor: pointer;
}
.menu-btn{
    /* border: var(--boroder-check); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 90px;
    margin: 0 30px;
    cursor: pointer;
    transition: transform ease-in-out .3s;
}
#menu-btn-checkbox:checked ~ .menu-btn{
    transform: rotateZ(45deg);
}
.side > .menuitem{
    width: 100%;
    color: var(--c000);
    padding: 2px 5px;
    &:hover{
        background-color: var(--c000);
        color: var(--cfff);
    }
}
/* ----------------------- */
main{
    border: var(--boroder-check);
    padding: 5px;
    width: 100%;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#focused-title{
    border: var(--boroder-check);
    width: 100%;
    font-size: 3em;
}
.card{
    border: var(--boroder-check);
    padding: 5px;
    width: 300px;
    height: 400px;
}
/* ----------------------- */
@media (max-width: 1000px){
    .homelogo{
        font-size: 5em;
    }
}   
@media (max-width: 700px){
    .homelogo{
        font-size: 2.5em;
    }
    .menu-btn{
        font-size: 2.2em;
        margin: 0 10px;
    }
}   
/* ----------------------- */
.dpnone{
    display: none;
}