@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
:root{
    --boroder-check: 1px #000 solid;

    --c000: #000;
    --cfff: #fff;
}
*{
    font-family: 'Pretendard-Regular', Helvetica,sans-serif ,serif;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a, button{
    border: 0;
    outline: none;
    color: inherit;
}
html{
    width: 100vw;
    height: 100vh;
    &::-webkit-scrollbar{
        display: none;
      }
}
body{
    width: 100%;
    height: 100%;
}
/* ------------------- */
header{
    border-bottom: var(--boroder-check);
    position: fixed;
    /* position: relative; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    overflow: hidden;
    background-color: var(--cfff);
    z-index: 100;
}
.topsizing{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    overflow: hidden;
    background-color: var(--cfff);
    color: var(--cfff);
    /* z-index: 100; */
}
/* @supports(position: sticky){
    header{
        position: sticky;
        top: 0;
    }
} */
.homelogo{ 
    /* border: var(--boroder-check); */
    text-transform: uppercase;
    font-size: 8em;
    cursor: pointer;
    transition: font-size ease-in-out .2s;
}
.menu-btn{
    /* border: var(--boroder-check); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 90px;
    margin: 0 30px;
    cursor: pointer;
    transition: transform ease-in-out .3s,font-size ease-in-out .2s;
}
#menu-btn-checkbox:checked ~ .menu-btn{
    transform: rotateZ(45deg);
}
/* 메뉴---------------------- */
/* #menu-btn-checkbox:checked ~ .menu{
    transform: translateY(0%);
} */
#menu{
    position: fixed;
    transform: translateY(-100%);
    transition: transform ease-in-out .3s;
    width: 100%;
    border-bottom: var(--boroder-check);
    background-color: var(--cfff);
    z-index: 99;
}
.menuitem{
    width: 100%;
    color: var(--c000);
    padding: 2px 5px;
    &:hover{
        background-color: var(--c000);
        color: var(--cfff);
    }
}
/* ----------------------- */
main{
    /* border-left: var(--boroder-check);
    border-right: var(--boroder-check); */
    padding: 20px 5px 5px 5px;
    width: 100%;
}
.cards{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    /* border: var(--boroder-check); */
    position: relative;
    padding: 5px;
    width: 250px;
    height: 300px;
    margin: 2px auto;
    background-image: url();
    transition: scale ease-in-out.2s;
}
/* .card:hover{
    scale: 1.05;
} */
.card-gradient{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.57580969887955185) 0%, rgba(0,0,0,0) 100%);
    z-index: 9;
}
.card-footer{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    padding: 3px;
    z-index: 10;
    overflow: hidden;
}
.card-footer > .cf-text,
.card-footer > .cf-bg{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cf-bg{
    border-top: var(--boroder-check);
    background-color: var(--cfff);
    transform: translateY(0%);
    transition: transform ease-in-out .3s;
    z-index: 1;
}
.cf-text{
    color: var(--c000);
    transition: color ease-in-out .2s;
    z-index: 2;
    font-weight: bold;
    font-size: 1.5em;
}
.card:hover > .card-footer > .cf-text{
    color: var(--cfff);
}
.card:hover > .card-footer > .cf-bg{
    transform: translateY(calc(100% - 1px));
}
/* .card:nth-last-child(1){

} */
/* ----------------------- */
@media (max-width: 1000px){
    .homelogo{
        font-size: 5em;
    }
}   
@media (max-width: 700px){
    .homelogo{
        font-size: 2.5em;
    }
    .menu-btn{
        font-size: 2.2em;
        margin: 0 10px;
    }
}   
/* ----------------------- */
.dpnone{
    display: none;
}